<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div><h1 class="text-primary align-items-center justify-content-center" style="margin-left: 350px;margin-top: 100px;color: rgb(208, 113, 128);">Welcome <span class="text-danger">voting management system</span> </h1></div>
    <img class="img img-fluid ms-3 p-3 mt-4" style="width: 1400px; height: 600px;" src="https://static.vecteezy.com/system/resources/previews/000/680/173/original/voting-political-hand-holding-election-concept.jpg" alt="" srcset="">
</body>
</html>